<section class="new">
    <div class="behalf">

    </div>
    <section class="mobile" style="background-color:rgb(246, 238, 238);">
        <h4>Best Shoes</h4>
        <div class="overall">
            <a routerLink="/adidas"><div class="moto">
                <img src="/assets/shoes/adidas.jpeg" alt="">
                <h4>Adidas</h4>
                <div class="ans"><h5>60% off</h5></div>
    
            </div></a>
            
            <a routerLink="/converse"><div class="moto">
                <img src="/assets/shoes/converse.jpeg" alt="">
                <h4>Converse</h4>
                <div class="ans"><h5>40% off</h5></div>
    
            </div></a>
            <a routerLink="/newbalance"><div class="moto">
                <img src="/assets/shoes/newbalance.jpeg" alt="">
                <h4>New Balance</h4>
                <div class="ans"><h5>80% off</h5></div>
    
            </div></a>
            <a routerLink="/puma"><div class="moto">
                <img src="/assets/shoes/puma.jpeg" alt="">
                <h4>Puma</h4>
                <div class="ans"><h5>30% off</h5></div>
    
            </div></a>
            <a routerLink="/nike"><div class="moto">
                <img src="/assets/shoes/nike.jpeg" alt="">
                <h4>Nike</h4>
                <div class="ans"><h5>45% off</h5></div>
    
            </div></a>
            <a routerLink="/rebook"><div class="moto" >
                <img src="/assets/shoes/reebook.jpeg" alt="" >
                <h4>Reebok</h4>
                <div class="ans">
                    <h5>20% off</h5>
                </div>
                
    
            </div></a>
    
        </div>
        
    </section>
    <div class="behalf"></div>
    
</section>