<footer>
    <div>
        <h3>Contact Us</h3>
        <p>Email: {{emailAddress}}</p>
        <p>Phone: +91 6374586141</p>
      </div>
  
      <nav>
        <a routerLink="/product">Home</a>
        
        <a routerLink="/categories">Categories</a>
        <a href="#">Contact</a>
      </nav>
  
      <div class="social-icons">
        <a href="#" target="_blank">Facebook</a>
        <a href="#" target="_blank">Twitter</a>
        <a href="#" target="_blank">Instagram</a>
      </div>
  
      <p>&copy; 2023 Amazon Store. All rights reserved.</p>
    
  
</footer>

