<div class="first-container">
    <div class="content">
    <div class="image-container">
        <img id="zoom-image" src="/assets/mobiles/Moto.png" alt="Product Image">
      </div>
      <div >
      <div class="overview">
        <h3>Motorola Edge 40 Neo (Caneel Bay, 128 GB) (8 GB RAM)</h3>
        <a href="https://www.motorola.in/"><h4>Brand:Motorola</h4></a>
        <p class="original-price">M.R.P.: ₹27,999.00</p>
        <p class="discounted-price">-4% ₹26,990</p>
        <p class="price-difference">Difference: ₹1,009</p>
      </div>
      <button routerLink="/shop">buy</button>
      <div class="details">
        <table class="tables">
            <tr class="move">
                <td><strong>Brand</strong></td>
                <td >Motorola</td>
            </tr>
            <tr class="move">
                <td><strong>Model Name</strong></td>
                <td >Edge 40 Neo</td>
            </tr>
            <tr class="move">
                <td><strong>Network Service Provider  </strong></td>
                <td >Unlocked for All Carriers</td>
            </tr>
            <tr class="move">
                <td><strong>Operating System</strong></td>
                <td >Android 13.0</td>
            </tr>
            <tr class="move">
                <td><strong>Cellular Technology</strong></td>
                <td >5G</td> <!-- You can add details here if needed -->
            </tr>
        </table>
      </div></div></div>
    <div class="description">
        <h3>Product Description</h3>
        <br>


        <p>
            <strong>Edge 40 Neo mobile</strong>  was launched on 14th September 2023. The phone comes with a 144 Hz refresh rate 6.55-inch touchscreen display offering a resolution of 2400x1080 pixels (FHD+) at a pixel density of 402 pixels per inch (ppi) and an aspect ratio of 20:9. The display sports Gorilla Glass for protection. Motorola Edge 40 Neo is powered by an octa-core MediaTek Dimensity 7030 processor. It comes with 8GB, 12GB of RAM. 
           <p> The Motorola Edge 40 Neo runs Android 13 and is powered by a 5000mAh non-removable battery.</p>
             <P>The Motorola Edge 40 Neo supports 68W Turbo Charge fast charging. As far as the cameras are concerned, 
             the Motorola Edge 40 Neo on the rear packs a dual camera setup featuring a 50-megapixel primary camera, 
             and a 13-megapixel camera. It has a single front camera setup for selfies, featuring a 32-megapixel sensor.</P>
             
            <p> The Motorola Edge 40 Neo runs MyUX is based on Android 13 and packs 128GB, 256GB of inbuilt storage. 
             The Motorola Edge 40 Neo is a dual-SIM mobile. The Motorola Edge 40 Neo measures 159.63 x 71.99 x 7.89mm (height x width x thickness) and weighs 172.00 grams. It was launched in Black Beauty, 
             Caneel Bay, and Soothing Sea colours. It features an IP68 rating for dust and water protection. Connectivity options on the Motorola Edge 40 Neo include Wi-Fi 802.11 a/b/g/n/ac/ax,
              GPS, Bluetooth v5.00, NFC, and USB Type-C. Sensors on the phone include accelerometer, ambient light sensor, compass/ magnetometer, gyroscope, proximity sensor, and in-display fingerprint sensor</p>

<p><strong> Edge 40 neo specifications :-</strong></p>

<p>6.55-inch (2400×1080 pixels) FHD+ 10-bit pOLED display with 144Hz refresh rate, 360Hz touch sampling rate, up to 1300 nits peak brightness
Octa Core (4 x 2.5GHz A78+ 4 x 2GHz A55) Dimensity 7030 6nm processor with Mali-G610 MC3 GPU 8GB LPDDR4X RAM with 128GB UFS 2.2 storage / 12GB LPDDR4X RAM with 256GB UFS 2.2 storage Android 13
Dual SIM (nano + nano)</p>
<p>50MP main camera with f/1.8 aperture, OIS, Quad Pixel Technology, 13MP 120° ultra-wide autofocus camera, f/2.2 aperture, macro and depth options, LED flash
32MP front camera with f/2.4 aperture, Quad Pixel Technology</p>
<p>USB Type-C Audio, Stereo speakers, Dolby Atmos</p>
<p>Dust and water resistant (IP68)</p>
<p>Dimensions: 159.6 x 72 x 7.89mm (Silicone/Vegan Leather) / 7.79mm (PMMA/Acrylic); Weight: 170g (PMMA/Acrylic) / 172g (Silicone/Vegan Leather)</p>
<p>5G SA/NSA (15 5G bands), Dual 4G VoLTE, Wi-Fi 6E 802.11ax (2.4GHz/5GHz), Bluetooth 5.2, GPS, USB Type-C, NFC 5000mAh battery, 68W TurboPower fast charging
        </p>

    </div>
      
</div>