<div class="first-container">
    <div class="content">
    <div class="image-container">
        <img id="zoom-image" src="/assets/mobiles/Realme.png" alt="Product Image">
      </div>
      <div >
      <div class="overview">
        <h3>realme C53, Champion Gold, 4GB RAM, 128GB Storage</h3>
        <a href="https://www.infinixmobility.com/"><h4>Brand:Infinix</h4></a>
        <p class="original-price">M.R.P.: ₹11,999</p>
        <p class="discounted-price">-26% ₹8,845</p>
        <p class="price-difference">Difference: ₹3154</p>
      </div>
      <button routerLink="/shop">buy</button>
      <div class="details">
        <table class="tables">
            <tr class="move">
                <td><strong>Brand</strong></td>
                <td >Realme</td>
            </tr>
            <tr class="move">
                <td><strong>Model Name</strong></td>
                <td >realme C53</td>
            </tr>
            <tr class="move">
                <td><strong>Network Service Provider  </strong></td>
                <td >Unlocked for All Carriers</td>
            </tr>
            <tr class="move">
                <td><strong>Operating System</strong></td>
                <td >Android 13.0</td>
            </tr>
            <tr class="move">
                <td><strong>Cellular Technology</strong></td>
                <td >5G</td> <!-- You can add details here if needed -->
            </tr>
        </table>
      </div></div></div>
    <div class="description">
        <h3>Product Description</h3>
        <br>
        <h5>realme C53: Elevate Your Mobile Experience</h5>

<p>Introducing the realme C53, a device meticulously crafted to offer an unparalleled blend of performance, innovation, and style. Whether you're a photography enthusiast,
     a tech-savvy individual, or someone looking for a reliable smartphone, 
     the realme C53 promises to exceed your expectations.</p>
<br>
<h5> Sleek Design Meets Immersive Display:</h5>
<p> Dive into a world of vibrant visuals with the 17.12 cm (6.74 inch)
 HD LCD Display, boasting a 90 Hz refresh rate and a 20:9 aspect ratio. 
 With a screen-to-body ratio of 90.3% and a brightness of 450 Nits, 
 every image comes to life with stunning clarity and detail.</p>
<br>
<h5> Power-Packed Performance:</h5>
Driven by the robust Android 13 OS and powered by the Octa-Core T612 processor, the realme C53 ensures smooth multitasking, lag-free gaming, and rapid app launches. With a primary clock speed of 1.82 GHz, experience unparalleled speed and responsiveness.
<br>
<h5> Capture the World in High Definition:</h5>
<p> Unleash your creativity with the dual-camera
 setup featuring a 108MP primary camera and a 2MP portrait camera. 
 From breathtaking landscapes to detailed portraits, capture 
 
 every moment with impeccable clarity. The 8MP front camera
  ensures you shine in every selfie, while features like Night Mode,
   Portrait Mode, and AI Scene Recognition elevate your photography game.</p>
<br>
<h5>Expandable Storage & Connectivity:</h5>
<p> With expandable storage of up to 2 TB, never worry about running out of space for 
    your favorite apps, photos, and videos. Stay connected on 
    the go with 4G LTE support and a host of connectivity options, 
    including USB 2.0 Type-C and Bluetooth.</p>
<br>
<h5> Enhanced Security & Features:</h5>
<p>Prioritize your privacy with features like Face Unlock,
     Fingerprint Unlock, and Pattern Unlock. Experience immersive audio with Dirac 3.0 sound effects, powered by the UMP510G audio decoding chip. From seamless multitasking to advanced security features,
      the realme C53 is designed with you in mind.</p>
<br>
<h5> Additional Features:</h5>

<p> Digital Zoom up to 10X
HD and Full HD video recording capabilities
Comprehensive audio and video format support
Innovative COG sealing process and In-Cell Touch Panel Technology
18W fast charging support for uninterrupted usage</p>
        
       
       
    </div>
      
</div>