<section class="new">
    
        

    <br>
    <section class="mobile" style="background-color:rgb(246, 238, 238);">
        <h4>Best Mobiles</h4>
        <div class="overall">
            <a routerLink="/motorola"><div class="moto">
                <img src="/assets/mobiles/Moto.png" alt="">
                <h4>Motorola G84</h4>
                <h5>incl all offers</h5>
                
    
            </div></a>
            
            <a routerLink="/infinix"><div class="moto">
                <img src="/assets/mobiles/infinix.png" alt="">
                <h4>Infinix Hot 30</h4>
                <h5>incl all offers</h5>
    
            </div></a>
            <a routerLink="/realme"><div class="moto">
                <img src="/assets/mobiles/Realme.png" alt="">
                <h4>Realme C53</h4>
                <h5>incl all offers</h5>
    
            </div></a>
            <a routerLink="/samsung"><div class="moto">
                <img src="/assets/mobiles/samsung.jpeg" alt="">
                <h4>Samsung S23+</h4>
                <h5>incl all offers</h5>
    
            </div></a>
            <a routerLink="/vivo"><div class="moto">
                <img src="/assets/mobiles/vivo.png" alt="">
                <h4>Vivo Y52</h4>
                <h5>incl all offers</h5>
    
            </div></a>
            <a routerLink="/nothing"><div class="moto">
                <img src="/assets/mobiles/nothing.png" alt="">
                <h4>Nothing Phone 2</h4>
                <h5>incl all offers</h5>
    
            </div></a>
    
        </div>
      
        
    </section>
    <br>
    
    
</section>
