<section class="new">
    

    <section class="mobile" style="background-color:rgb(246, 238, 238);">
        <h4>Best SmartWatches</h4>
        <div class="overall">
            <a routerLink="/applewatch"><div class="moto">
                <img src="/assets/watch/applewatch.jpeg" alt="">
                <h4>Apple Watch Ultra</h4>
                <h5><b>₹62599</b></h5>
                <h5 class="dash">85999</h5>
    
            </div></a>
            
            <a routerLink="/galaxywatch"><div class="moto">
                <img src="/assets/watch/samsungwatch.jpeg" alt="">
                <h4>Samsung Galaxy watch 5</h4>
                <h5><b>₹22599</b></h5>
                <h5 class="dash">33999</h5>
    
            </div></a>
            <a routerLink="/firebolt"><div class="moto">
                <img src="/assets/watch/fireboltwatch.jpeg" alt="">
                <h4>Fire-Bolt Dazzle</h4>
                <h5><b>₹2499</b></h5>
                <h5 class="dash">₹4199</h5>
    
            </div></a>
            <a routerLink="/noise"><div class="moto">
                <img src="/assets/watch/noisewatch.jpeg" alt="">
                <h4>Noise Colorfit</h4>
                <h5><b>₹1899</b></h5>
                <h5 class="dash">3399</h5>
    
            </div></a>
            <a routerLink="/realmewatch"><div class="moto">
                <img src="/assets/watch/Realmewatch.png" alt="">
                <h4>Realme Watch 4</h4>
                <h5><b>₹4599</b></h5>
                <h5 class="dash">7599</h5>
    
            </div></a>
            <a routerLink="/boat"><div class="moto">
                <img  style="height: 200px;" src="/assets/watch/boatwatch.jpeg" alt="">
                <h4>Boat SmartWatch</h4>
                <h5><b>₹2899</b></h5>
                <h5 class="dash">8599</h5>
    
            </div></a>
    
        </div>
        
    </section>
    
</section>
<br>