<div class="first-container">
    <div class="content">
        <div class="image-container">
            <img id="zoom-image" src="/assets/ad/sam.jpg" alt="Samsung Galaxy F14 5G Smartphone Image">
        </div>
        <div>
            <div class="overview">
                <h3>Samsung Galaxy F14 5G</h3>
                <h3>5nm Processor | 6000mAh Battery | 5G Connectivity</h3>
                <a href="https://www.samsung.com/in/smartphones/galaxy-f/galaxy-f14-5g-green-128gb-sm-e146bzghins/buy/">Brand: Samsung</a>
                <p class="original-price">M.R.P.: ₹12000</p>
                <p class="discounted-price">-25% ₹8999 </p>
                <p class="price-difference">Difference: ₹3001</p>
            </div>
            <button routerLink="/shop">buy</button>
            <div class="details">
                <table class="tables">
                    <tr class="move">
                        <td><strong>Brand</strong></td>
                        <td>Samsung</td>
                    </tr>
                    <tr class="move">
                        <td><strong>Model</strong></td>
                        <td>Galaxy F14 5G</td>
                    </tr>
                    <tr class="move">
                        <td><strong>Processor</strong></td>
                        <td>5nm Processor</td>
                    </tr>
                    <tr class="move">
                        <td><strong>Battery</strong></td>
                        <td>6000mAh</td>
                    </tr>
                    <tr class="move">
                        <td><strong>RAM</strong></td>
                        <td>12 GB</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="description" style="padding-top: 50px;">
        <br>
        <h3>Product Description</h3>
        <br>
        <h5>Samsung Galaxy F14 5G: A New Era of Connectivity</h5>
        <br>
        <p><strong>Processor & Performance:</strong> Dive into a seamless experience with the 5nm processor that ensures enhanced performance, multitasking, and gaming.</p>
        
        <p><strong>Battery Life:</strong> Equipped with a 6000mAh battery and 25W fast charging, enjoy uninterrupted entertainment for up to 2 days on a single charge.</p>
        
        <p><strong>Connectivity:</strong> Embrace the future with 5G connectivity, ensuring lightning-fast browsing and downloads.</p>
        
        <p><strong>Display & Camera:</strong> Immerse in a 16.72 cm full HD+ display protected by Gorilla Glass 5. Capture stunning moments with a 50 MP rear camera and 13 MP front camera.</p>
        
        <p><strong>Software & Security:</strong> Personalize with One UI core 5.1, enjoy regular updates, and secure your data with a fingerprint sensor and secure folder.</p>
        
        <p><strong>Storage & SIM:</strong> Benefit from 12 GB RAM, expand up to 1TB with a dedicated microSD slot, and enjoy dual Nano SIM support.</p>
        
        <p><strong>In The Box:</strong> The package includes the Samsung Galaxy F14 5G handset, Type-C data cable, quick start guide, and a sim ejection pin.</p>
    </div>
    
</div>
