<div class="first-container">
    <div class="content">
    <div class="image-container">
        <img id="zoom-image" src="/assets/mobiles/nothing.png" alt="Product Image">
      </div>
      <div >
      <div class="overview">
        <h3>Nothing Phone (2) 5G (Dark Grey, 12GB RAM, 512GB Storage)</h3>
        <a href="https://www.motorola.in/"><h4>Brand:Nothing</h4></a>
        <p class="original-price">M.R.P.: ₹59,999.00</p>
        <p class="discounted-price">-23% ₹45,990</p>
        <p class="price-difference">Difference: ₹14,009</p>
      
      </div>
      <button routerLink="/shop">buy</button>
      <div class="details">
        <table class="tables">
            <tr class="move">
                <td><strong>Brand</strong></td>
                <td >Nothing</td>
            </tr>
            <tr class="move">
                <td><strong>Model Name</strong></td>
                <td >	Nothing Phone (2)</td>
            </tr>
            <tr class="move">
                <td><strong>Network Service Provider  </strong></td>
                <td >Unlocked for All Carriers</td>
            </tr>
            <tr class="move">
                <td><strong>Operating System</strong></td>
                <td >Android 14.0</td>
            </tr>
            <tr class="move">
                <td><strong>Cellular Technology</strong></td>
                <td >5G</td> <!-- You can add details here if needed -->
            </tr>
        </table>
      </div></div></div>
    <div class="description">
        <h3>Product Description</h3>
        <br>

        
<h5>About Phone (2)</h5>

<p>Discover the future of mobile technology with Phone (2), a device meticulously crafted to redefine your smartphone experience. Dive into a world where performance meets elegance, delivering unparalleled features that cater to every aspect of your digital life.</p>
<br>
<h5>Unmatched Performance & Storage:</h5>
<p>Powered by 12 GB RAM and 512 GB ROM, Phone (2) ensures lightning-fast operations and ample storage for all your multimedia needs. The LPDDR5 RAM and UFS 3.1 storage technology offer seamless multitasking and rapid data access, elevating your user experience to new heights.</p>
<br>
<h5>Breathtaking Display:</h5>
<p>Experience visuals like never before on the 17.02 cm (6.7 inch) Full HD+ OLED Bezel-less display. The flexible LTPO AMOLED panel offers a dynamic refresh rate ranging from 1 Hz to 120 Hz, ensuring smooth visuals and efficient power consumption. With Corning Gorilla Glass 5 protection and HDR10+ support, immerse yourself in a cinematic viewing experience.</p>
<br>
<h5>Next-Gen Processing Power:</h5>
<p>Equipped with the Qualcomm Snapdragon 8+ Gen 1 chipset, Phone (2) delivers unparalleled processing power. With clock speeds up to 3 GHz, experience a 80% improvement in performance compared to its predecessor. From gaming to multitasking, this device ensures a lag-free and responsive experience.</p>
<br>
<h5>Revolutionary Camera System:</h5>
<p>Capture life's precious moments in stunning detail with the 50 MP dual-camera setup. Whether it's expansive landscapes or intricate details, the advanced camera system ensures exceptional clarity and depth. The 32 MP front camera is perfect for capturing stunning selfies, while the 2X Super-res Zoom lets you explore creative photography avenues.</p>
<br>
<h5>Long-Lasting Battery & Charging:</h5>
<p>Stay connected throughout the day with the robust 4700 mAh battery. With 45W fast charging support, recharge your device in just 55 minutes. Additionally, Phone (2) doubles as a wireless charger, allowing you to power accessories effortlessly.</p>
<br>
<h5>Elegant Design & Build:</h5>
<p>Phone (2) embodies sophistication with its sleek design and premium build quality. The in-display fingerprint reader and stereo speakers enhance the user experience, while the IP54 rating ensures resistance against water and dust. With a glass front and back, complemented by an aluminum frame, Phone (2) is a perfect blend of style and durability.</p>
<br>
<h5>Advanced Operating System:</h5>
<p>Experience the intuitive Android 13 coupled with the NOTHING OS 2.0. Enjoy faster app launches, customizable widgets, and up to three years of OS upgrades. Navigate effortlessly with the Quick setting option, accessing vital information directly from your home screen.</p>

    </div>
      
</div>