<section class="new">
    

    
    <section class="mobile" style="background-color:rgb(246, 238, 238);">
        <h4>Best Laptops</h4>
        <div class="overall">
            <a routerLink="/mac">
                <div class="moto">
                    <img src="/assets/New folder/macbook.jpeg" alt="" style="height: 60%; margin-top: 30px;">
                    <p>Macbook M1 air</p>
                    <h5><b>₹68999</b></h5>
                    <h5 class="dash">85000</h5> <!-- Added the closing </h5> tag -->
                </div>
            </a>
            

            
            <a routerLink="/acer"><div class="moto">
                <img src="/assets/New folder/acer.jpeg" alt="">
                <p>Acer aspire 3</p>
                <h5><b>₹75349</b></h5>
                <h5 class="dash">96999</h5>
    
            </div></a>
            <a routerLink="/asus"><div class="moto">
                <img src="/assets/New folder/asus.jpeg" alt="">
                <p>Asus VivoBook</p>
                <h5><b>₹62599</b></h5>
                <h5 class="dash">75999</h5>
    
            </div></a>
            <a routerLink="/hp"><div class="moto">
                <img src="/assets/New folder/HP.jpeg" alt="">
                <p>Dell XPS 13</p>
                <h5><b>₹175399</b></h5>
                <h5 class="dash">216899</h5>
    
            </div></a>
            <a routerLink="/lenovo"><div class="moto">
                <img src="/assets/New folder/lenovo.jpeg" alt="">
                <p>Lenovo Yoga 5</p>
                <h5><b>₹72999</b></h5>
                <h5 class="dash">76599</h5>
    
            </div></a>
            <a routerLink="/galaxy"><div class="moto">
                <img src="/assets/New folder/samsunglap.jpeg" alt="">
                <p>Galaxy Book 3</p>
                <h5><b>₹135999</b></h5>
                <h5 class="dash">155899</h5>
    
            </div></a>
    
        </div>
        
    </section>
    <br>
    
</section>