.first-container {
    width: 100%;
    height: 30%;
    padding: 80px;
}

.second-container {
    height: 650px;
    width: 500px;
    background-color: rgb(101, 147, 187);
}

#zoom-image {
    height: 350px;
  
}

.behalf {
    height: 20px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 400px; /* Adjust width as needed */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.first-container table {
    padding-right: 50%;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.original-price {
    text-decoration: line-through;
    color: red;
}

.discounted-price {
    color: green;
}

.price-difference {
    color: blue;
    font-weight: bold;
}

.content {
    display: flex;
    text-align: center;
    flex-direction: column; /* Changed to column */
    flex-wrap: nowrap; /* Prevents wrapping */
    gap: 16px;
}

.tables, .tables tr, .tables td {
    border-collapse: collapse;
    border: 0;
    border: none;
}
*{
    background-color:  rgb(246, 238, 238);
  }
  button{
    
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
} 
.price{
color: rgb(121, 101, 180);
} 
.quantity{
color: #3498db;
}
 